<h1>Editing Municipality Social Datum</h1>

<%= render 'form', municipality_social_datum: @municipality_social_datum %>

<%= link_to 'Show', @municipality_social_datum %> |
<%= link_to 'Back', municipality_social_data_path %>
