<script src="https://colorlib.com/polygon/vendors/jquery/dist/jquery.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/bootstrap/dist/js/bootstrap.bundle.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/fastclick/lib/fastclick.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/nprogress/nprogress.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/Chart.js/dist/Chart.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/gauge.js/dist/gauge.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/iCheck/icheck.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/skycons/skycons.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/Flot/jquery.flot.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/Flot/jquery.flot.pie.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/Flot/jquery.flot.time.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/Flot/jquery.flot.stack.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/Flot/jquery.flot.resize.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/flot.orderbars/js/jquery.flot.orderBars.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/flot-spline/js/jquery.flot.spline.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/flot.curvedlines/curvedLines.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/DateJS/build/date.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/jqvmap/dist/jquery.vmap.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/jqvmap/dist/maps/jquery.vmap.world.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/vendors/moment/min/moment.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://colorlib.com/polygon/vendors/bootstrap-daterangepicker/daterangepicker.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>

<script src="https://colorlib.com/polygon/build/js/custom.min.js" type="ad820bc8304ed946f67eacb7-text/javascript"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js" data-cf-settings="ad820bc8304ed946f67eacb7-|49" defer=""></script></body>